nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    margin-top: 40px;
    font-size: 24px;
    font-weight: 700;
    background-color: rgb(199, 199, 181);
}

.navbarmain-container{
    width: 1920px;
    height: 100px;
    gap: 0px;
    opacity: 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    

    padding: 20px 40px 20px 40px;
    background-color: #78B5F5;
    img{
        margin-top: 20px;
        width: 200px;
        height: 100px;
        object-fit: cover;

    }
}
.navbarmain-links{
    display: flex;
    flex-direction: row;
    gap: 40px;

    span{
        gap: 0px;
        opacity: 0px;
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 500;
        line-height: 22px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        
    }
    
}
.item-container{
    margin-top: 40px;
    .items-grid{
        gap: 40px;
        .item{
            width: 361px;
            height: 345px;
            text-align: center;
            border-radius: 16px 16px 0px 0px;
            border: 1px solid black;
            img{
                width: 361px;
                height: 299px;
                object-fit: cover;
                border-radius: 16px 16px 0px 0px;
            }
            h2{
                color:#171717;
                font-size: 24px;
                font-weight: 700;
            }
        }
    }
}

.footer-container{
    width: 1920px;
    height: 821px;
    background:  #ECECEC;
    .footer-image{
        
    }
    .footer-left{
        width: 981px;
    height: 468px;
    top: 175px;
    left: 185px;
    gap: 0px;
    opacity: 0px;

    font-size: 32px;
    font-weight: 500;
    line-height: 39.01px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
        }
        .footer-right{
            font-family: Montserrat;
            font-size: 32px;
            font-weight: 500;
            line-height: 39.01px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

        }


}