@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
  
}
.heading-1{
      width: Hug (206px)px;
    height: Hug (59px)px;
    top: 644px;
    left: 186px;
    padding: 10px 0px 0px 0px;
    gap: 10px;
    opacity: 0px;
    background: #78B5F5;
    width: fit-content;
    padding: 10px 20px;
    font-family: Montserrat;
        font-size: 48px;
        font-weight: 700;
        line-height: 41px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        margin-bottom: 40px;
}