@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
  
}
.heading-1{
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 600;
  line-height: 58.51px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  

}